<div class="fixed">
    <button [routerLink]="['/cliente']" mat-flat-button class="m-4 text-xs">
        Crear un nuevo cliente (prueba)
    </button>
</div>
<app-auth-layout>
    <div class="flex flex-col p-4 absolute text-slate-800">
        <div class="flex justify-between mb-6">
            <div>
                <img src="../../../assets/shared/LOGOPIXL.png" class="w-12 mt-3" draggable="false">
            </div>
            <div class="flex flex-col ml-6 mt-6">
                <span class="text-2xl font-semibold">Bienvenido</span>
                <span>Inicia sesión en tu cuenta</span>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col mb-6">
                <label class="text-sm  mb-2" for="">Usuario</label>
                <input type="text" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" placeholder="Ingresa tu correo o usuario" formControlName="UserName">
            </div>
            <div class="flex flex-col mb-6">
                <label class="text-sm  mb-2" for="">Contraseña</label>
                <div class="flex items-center m-auto w-full relative">
                    <input id="currentPass" placeholder="Ingresa tu contraseña" type="password" class="w-full p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500 pass-field" formControlName="Password">
                    <div class="cursor-pointer absolute left-[85%] flex items-center p-1 hover:bg-zinc-200 rounded-2xl">
                        <mat-icon id="pass-icon" class="text-zinc-400" fontIcon="visibility_off" (click)="toggleHiddenPass()"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mb-6">
                <div class="flex items-center">
                    <a href="" class="text-sm text-indigo-600 ">Olvidé mi contraseña</a>
                </div>
            </div>
            <div class="flex">
                <button mat-flat-button color="primary" type="submit" class="w-full" [disabled]="isLoading || !form.valid">
                    <span *ngIf="isLoading == false">Iniciar sesión</span>
                    <mat-spinner *ngIf="isLoading" diameter="20" ></mat-spinner>
                </button>
            </div>
        </form>
        <div class="flex justify-center items-center mt-4 pt-2 border-t border-t-zinc-300">
            <p class="text-sm">¿No tienes una cuenta? <a [routerLink]="['/registro']" class=" text-indigo-600">Crea una</a></p>
        </div>
    </div>
    <!-- Error message -->
    <div class="flex justify-between items-center p-3 border-2 border-red-400 rounded bg-white shadow-md relative mt-[550px]" *ngIf="loginError">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#FF4040" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="text-zinc-600">Usuario o contraseña incorrectos</span>
    </div>
</app-auth-layout>
