<div class="p-6 flex flex-col justify-center">
    <ngx-spinner 
        name="update-card" 
        bdColor="rgba(0, 0, 0, 0.8)" 
        size="medium" 
        color="#fff"
        type="ball-clip-rotate-multiple" 
        [fullScreen]="false">
    </ngx-spinner>
    <span class="text-xl">Actualizar tarjeta</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col">
        <div class="mb-6 mt-4 flex items-center border border-zinc-400 rounded p-2">
            <mat-icon fontIcon="person" class="mr-3 text-zinc-300"></mat-icon>
            <input id="Titular" type="text" placeholder="Nombre en la tarjeta"
                class="w-full text-[16px] focus:outline-none" formControlName="name">
        </div>
        <div class="flex mb-8 mt-2 w-fit justify-center items-center border border-zinc-400 rounded p-2">
            <mat-icon fontIcon="event" class="mr-3 text-zinc-300"></mat-icon>
            <div>
                <input id="Titular" type="text" placeholder="MM" class="w-10 text-[16px] focus:outline-none"
                    formControlName="expMonth" [(ngModel)]="expMonth" (ngModelChange)="onDateChange()">
            </div>
            <div class="text-zinc-500 text-lg mr-3">/</div>
            <div>
                <input id="Titular" type="text" placeholder="AAAA" class="w-10 text-[16px] focus:outline-none"
                    formControlName="expYear" mask="0000" [(ngModel)]="expYear" (ngModelChange)="onDateChange()">
            </div>
        </div>
        <button type="submit" mat-flat-button color="primary" [disabled]="dateInvalid || !form.valid || buttonLoading">
            <span *ngIf="buttonLoading == false">Actualizar</span>
            <mat-spinner *ngIf="buttonLoading" diameter="20" ></mat-spinner>
        </button>
    </form>
</div>