<div class="flex w-full justify-end p-1">
    <button mat-flat-button matDialogClose>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>  
    </button>
</div>
<div class="container">
    <ngx-spinner 
        name="view-pdf" 
        bdColor="rgba(0, 0, 0, 0.8)" 
        size="medium" 
        color="#fff"
        type="ball-clip-rotate-multiple" 
        [fullScreen]="false"
        >
    </ngx-spinner>
    <ngx-extended-pdf-viewer 
        class="pdf-viewer"
        [src]="pdfSrc"
        [showDrawEditor]="false"
        [showTextEditor]="false"
        (pageRendered)="rendered()"
    ></ngx-extended-pdf-viewer>
</div>