<!-- servicios disponibles -->
<div class="m-auto md:w-3/4">

    <div class="m-auto max-w-[1024px]">
        <app-page-title title="Mis servicios" *ngIf="areServices"/>
        <app-service-card *ngFor="let service of services" id="{{service.idServicio}}" name="{{service.servicioTipoName}}" status="{{service.servicioEstatusName}}"
        description="{{service.servicioTipoDescripcion}}" cost="" period="{{service.periodoName}}" startDate="{{service.vigencia}}">
        </app-service-card>
    </div>

    <div class="w-full text-center mt-64 flex flex-col items-center" *ngIf="emptyServices">
        <span class="text-zinc-400 text-xl">Al parecer aún no cuentas con ningún servicio. Ponte en contacto con los administradores de Workcube para contratar servicios</span>
        <img src="../../../assets/shared/LOGOPIXL.png" class="w-24 grayscale mt-10" draggable="false">
    </div>

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>