<div class="flex flex-col justify-center items-center space-y-6 mt-8">
    <div class="bg-white w-2/5 flex flex-col flex-auto rounded shadow-md overflow-hidden max-[1200px]:w-full m-auto mx-2">
      <span class="text-lg px-8 pt-8 pb-2 -mb-8">Información del Perfil</span>
      <span class="text-sm text-gray-600 px-8 py-8 -mb-8">Actualice la información de perfil y la dirección de correo
        electrónico de su cuenta.</span>
      <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()">
        <div class="flex flex-wrap mb-8 mr-6 p-8">
          <div class="flex w-1/2 flex-col px-4 mt-3 max-[768px]:w-full">
            <label for="nombre" class="mb-2 text-[14px] text-slate-700">Nombre(s)</label>
            <input id="nombre" type="text" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" formControlName="Nombre">
          </div>
          <div class="flex w-1/2 flex-col px-4 mt-3 max-[768px]:w-full">
            <label for="ApellidoPat" class="mb-2 text-[14px] text-slate-700">Apellido Paterno</label>
            <input id="ApellidoPat" type="text" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" formControlName="ApellidoPat">
          </div>
          <div class="flex w-1/2 flex-col px-4 mt-3 max-[768px]:w-full">
            <label for="ApellidoMat" class="mb-2 text-[14px] text-slate-700">Apellido Materno</label>
            <input id="ApellidoMat" type="text" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" formControlName="ApellidoMat">
          </div>
        </div>
        <div class="border-t border-zinc-200 flex p-4 pr-3 pb-3 justify-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="userIsLoading || !userForm.valid">
            <span *ngIf="userIsLoading == false">Actualizar</span>
            <mat-spinner *ngIf="userIsLoading" diameter="20"></mat-spinner>
          </button>
        </div>
      </form>
    </div>

    <div class="bg-white w-2/5 flex flex-col flex-auto rounded shadow-md overflow-hidden max-[1200px]:w-full m-auto mx-2">
      <span class="text-lg px-8 pt-8 pb-2 -mb-8">Actualizar contraseña</span>
      <span class="text-sm text-gray-600 px-8 py-8 -mb-8">Utiliza una contraseña compleja y aleatoria para mentener la
        seguridad.</span>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
        <div class="flex flex-wrap mb-8 mr-6 p-8">
          <div class="flex w-1/2 flex-col px-4 mt-3 max-[768px]:w-full">
            <label for="currentPass" class="mb-2 text-[14px] text-slate-700">Contraseña actual</label>
            <input id="currentPass" type="password" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" formControlName="OldPassword">
          </div>
          <div class="flex w-full flex-wrap">
            <div class="flex flex-col px-4 mt-3 w-full md:w-1/2">
              <label for="newPass" class="mb-2 text-[14px] text-slate-700">Nueva contraseña</label>
            <input id="newPass" type="password" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" [(ngModel)]="setPassword" (ngModelChange)="comparePassword()" formControlName="NewPassword">
            </div>
            <div class="flex flex-col px-4 mt-3 w-full md:w-1/2">
              <label for="confirmPass" class="mb-2 text-[14px] text-slate-700">Confirmar contraseña</label>
              <input id="confirmPass" type="password" class="p-3 text-slate-700 rounded border border-zinc-300 focus:outline-none focus:border-indigo-500" [(ngModel)]="confirmPassword" (ngModelChange)="comparePassword()" formControlName="ConfirmPassword">
            </div>
          </div>
        </div>
        <div class="border-t border-zinc-200 flex p-4 pr-3 pb-3 justify-end">
          <button type="submit" mat-flat-button color="primary" [disabled]="!passwordForm.valid || !canConfirm || passwordIsLoading">
            <span *ngIf="passwordIsLoading == false">Actualizar</span>
            <mat-spinner *ngIf="passwordIsLoading" diameter="20"></mat-spinner>
          </button>
        </div>
      </form>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true">
  <p style="color: white" > Por favor espere... </p>
</ngx-spinner>